body {
    background: rgb(123, 116, 161);
    height: 100vh;
    width: 100vw;
  }
  
  .gameArea {
    display:grid;
    grid-template: auto / repeat(19, 1fr);
    grid-gap: 3px;
    background-color: #9a66a7;
    width: 700px;
    height: 500px;
    margin-left:10%;
    top: 0px;
    border: 3px solid rgb(97, 7, 7);
  
    padding: 2rem 3rem 2rem;
/*    display: flex; 
    flex-wrap: wrap; */
  }
  
#msgArea{
  color: antiquewhite;
}


